<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Search Results</title>
</head>

<body>
    Zip: <%- zip %><br>
    City: <%- city %><br>
    State: <%- state %><br>
    Temperature: <%- temperature %><br>
    Wind speed: <%- windSpeed %><br>
    Weather Description: <%- weatherDescription %><br>
    Feels Like: <%- feelsLike %><br>
    Weather Icons: <%- weather_icons %><br>
    <img src="<%= weather_icons[0] %>" alt="Image">
</body>

</html>